@model Inventario.DAL.RemisionDetalleModel

@{
    ViewData["Title"] = "Anular";
}




<div class="wrapper" id="servicios">
    <div class="page-header clear-filter" filter-color="blue" style="position:relative; height: 150px;">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/images/design-palettes.jpg'); ">
        </div>
        <div class="container">
            <div class="brand" style="">
                <br /><br /><br /><br /><br /><br /><br />
                <h2></h2>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title">Anular remisión</h2>
                        <h5 class="description">
                            <p>
                            </p>

                        </h5>

                        <div class="section section-basic">
                            <div class="container">
                                <div id="sectionwaterflooding" class="col-md-6 col-lg-6">
                                    <div>
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Codigo)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Codigo)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.FechaDocumento)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.FechaDocumento)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.nombreProveedor)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.nombreProveedor)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.nombreAlmacen)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.nombreAlmacen)
                                            </dd>
                                            @*<dt>
                                                @Html.DisplayNameFor(model => model.nombreProducto)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.nombreProducto)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.PrecioVenta)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.PrecioVenta)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Cantidad)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Cantidad)
                                            </dd>*@
                                        </dl>
                                        <table class="table table-bordered table-responsive table-hover">
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                            </tr>
                                            @for (int i = 0; i < Model.Cantidades.Count; i++)
                                            {
                                                <tr>
                                                    <td><label asp-for="nombreProductos" class="control-label">@Model.nombreProductos[i]</label></td>
                                                    <td><label asp-for="@Model.Cantidades[i]" class="control-label">@Model.Cantidades[i]</label></td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                    <div>
                                        <form asp-action="Anular/@Model.Id">
                                            <input type="submit" value="Anular" class="btn btn-blue btn-round" /> |
                                            <a asp-action="Edit" asp-route-id="@Model.Id">Modificar</a> |
                                            <a asp-action="Index">Volver a la lista de remisión</a>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
